@tailwind base;
@tailwind components;
@tailwind utilities;

.ck-editor__editable {
  min-height: 150px;
  background: transparent !important;
  color: white !important;
  border: none !important;
}

.ck-toolbar {
  background: #0c0f0a !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.ck-button {
  color: white !important;
}

.ck-button.ck-on {
  background: rgba(210, 255, 47, 0.15) !important;
  color: #d2ff2f !important;
}

.ck-button:hover {
  background: rgba(210, 255, 47, 0.1) !important;
  color: #d2ff2f !important;
}

.ck-dropdown__panel {
  background: #0c0f0a !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.ck-list__item{
  background: #0c0f0a !important;
}
/* CKEditor Content Styling */

.ck-editor__editable h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0;
}

.ck-editor__editable h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 8px 0;
}

.ck-editor__editable h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 6px 0;
}

.ck-editor__editable p {
  font-size: 14px;
  color: white;
}
.ck-editor__editable ul {
  list-style: disc;
  padding-left: 20px;
}

.ck-editor__editable ol {
  list-style: decimal;
  padding-left: 20px;
}